body {
  background: repeating-linear-gradient(90deg, #C4C3FF, #C4C3FF 20px, #EAE8FF 0, #EAE8FF 40px);
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

nav {
  overflow: hidden;
  background-color: #B7B3FF;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #B7B3FF;
  padding: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

iframe {
  width: 70%;
  height: 200px;
  margin: 20px auto;
  padding: 50px;
  border: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

nav ul li {
  float: left;
  position: relative;
  display: block;
  right: 50%;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Baskerville', serif;
  font-size: 24px;
  text-shadow: -2px 0px #FFC2D1, 0px 2px #FFC2D1, 2px 0px #FFC2D1, 0px -2px #FFC2D1;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: #A0C4FF;
}

section {
  color: black;
  background: linear-gradient(180deg, #D4E7FF 80px, white 10px);
  width: 80%;
  overflow: auto;
  padding: 20px;
  box-shadow: 0 0 0 3px #FFC2D1, 0 0 0 10px #FFFFFF;
  text-align: center;
  margin: 40px auto;
  border-radius: 10px;
  font-family: Playfair Display, serif;
  font-size: 18px;
}

.site-title {
  color: #000;
  font-family: 'Baskerville', serif;
  text-shadow: -4px 0px #D1EFE3, 0px 4px #D1EFE3, 4px 0px #D1EFE3, 0px -4px #D1EFE3;
  font-size: 48px;
  padding-left: 50px;
  margin: 50px 10% 50px auto;
}

.sec-title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Baskerville', serif;
  text-shadow: -2px 0px #FFC2D1, 0px 2px #FFC2D1, 2px 0px #FFC2D1, 0px -2px #FFC2D1;
  color: #FFC2D1;
  font-size: 30px;
}

.sub-title {
  color: #FFC2D1;
  font-family: 'Baskerville', serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
